In [1]:
import pandas as pd
import numpy as np
import json
import torch
from nltk import word_tokenize, pos_tag, ne_chunk
from nltk.chunk import conlltags2tree, tree2conlltags
from nltk.tag import StanfordNERTagger
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from collections import Counter
from nltk.corpus import stopwords
stop_words=set(stopwords.words('english'))
lemm = WordNetLemmatizer()
import numpy as np
from collections import Counter
lines=100000
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
import gensim 
from gensim.models import Word2Vec
from keras.layers import *
from keras.models import *
from keras.utils import *
import re

Using TensorFlow backend.

In [2]:
import stanfordnlp

In [3]:
nlp = stanfordnlp.Pipeline(processors = "tokenize,mwt,lemma,pos")

Use device: cpu
---
Loading: tokenize
With settings:
{'model_path': 'C:\\Users\\PIYUSH\\stanfordnlp_resources\\en_ewt_models\\en_ewt_tokenizer.pt', 'lang': 'en', 'shorthand': 'en_ewt', 'mode': 'predict'}
---
Loading: lemma
With settings:
{'model_path': 'C:\\Users\\PIYUSH\\stanfordnlp_resources\\en_ewt_models\\en_ewt_lemmatizer.pt', 'lang': 'en', 'shorthand': 'en_ewt', 'mode': 'predict'}
Building an attentional Seq2Seq model...
Using a Bi-LSTM encoder
Using soft attention for LSTM.
Finetune all embeddings.
[Running seq2seq lemmatizer with edit classifier]
---
Loading: pos
With settings:
{'model_path': 'C:\\Users\\PIYUSH\\stanfordnlp_resources\\en_ewt_models\\en_ewt_tagger.pt', 'pretrain_path': 'C:\\Users\\PIYUSH\\stanfordnlp_resources\\en_ewt_models\\en_ewt.pretrain.pt', 'lang': 'en', 'shorthand': 'en_ewt', 'mode': 'predict'}
Done loading processors!
---

In [4]:
data=pd.read_json(r"C:\Users\PIYUSH\Desktop\Automatic_Question_gen\data\train-v1.1.json")

In [5]:
df = pd.DataFrame()

In [6]:
s=data['data'][0]['paragraphs'][0]['context']
s=pos_tag(word_tokenize(s))
ne_tree=(ne_chunk(s))
iob_tagged = tree2conlltags(ne_tree)
iob_tagged

[('Architecturally', 'RB', 'O'),
 (',', ',', 'O'),
 ('the', 'DT', 'O'),
 ('school', 'NN', 'O'),
 ('has', 'VBZ', 'O'),
 ('a', 'DT', 'O'),
 ('Catholic', 'JJ', 'B-ORGANIZATION'),
 ('character', 'NN', 'O'),
 ('.', '.', 'O'),
 ('Atop', 'VB', 'O'),
 ('the', 'DT', 'O'),
 ('Main', 'NNP', 'B-FACILITY'),
 ('Building', 'NNP', 'I-FACILITY'),
 ("'s", 'POS', 'O'),
 ('gold', 'NN', 'O'),
 ('dome', 'NN', 'O'),
 ('is', 'VBZ', 'O'),
 ('a', 'DT', 'O'),
 ('golden', 'JJ', 'O'),
 ('statue', 'NN', 'O'),
 ('of', 'IN', 'O'),
 ('the', 'DT', 'O'),
 ('Virgin', 'NNP', 'B-ORGANIZATION'),
 ('Mary', 'NNP', 'I-ORGANIZATION'),
 ('.', '.', 'O'),
 ('Immediately', 'RB', 'O'),
 ('in', 'IN', 'O'),
 ('front', 'NN', 'O'),
 ('of', 'IN', 'O'),
 ('the', 'DT', 'O'),
 ('Main', 'NNP', 'B-FACILITY'),
 ('Building', 'NNP', 'I-FACILITY'),
 ('and', 'CC', 'O'),
 ('facing', 'VBG', 'O'),
 ('it', 'PRP', 'O'),
 (',', ',', 'O'),
 ('is', 'VBZ', 'O'),
 ('a', 'DT', 'O'),
 ('copper', 'NN', 'O'),
 ('statue', 'NN', 'O'),
 ('of', 'IN', 'O'),
 ('Christ', 'NNP', 'B-GPE'),
 ('with', 'IN', 'O'),
 ('arms', 'NNS', 'O'),
 ('upraised', 'VBN', 'O'),
 ('with', 'IN', 'O'),
 ('the', 'DT', 'O'),
 ('legend', 'NN', 'O'),
 ('``', '``', 'O'),
 ('Venite', 'NNP', 'B-PERSON'),
 ('Ad', 'NNP', 'I-PERSON'),
 ('Me', 'NNP', 'I-PERSON'),
 ('Omnes', 'NNP', 'I-PERSON'),
 ("''", "''", 'O'),
 ('.', '.', 'O'),
 ('Next', 'JJ', 'O'),
 ('to', 'TO', 'O'),
 ('the', 'DT', 'O'),
 ('Main', 'NNP', 'B-FACILITY'),
 ('Building', 'NNP', 'I-FACILITY'),
 ('is', 'VBZ', 'O'),
 ('the', 'DT', 'O'),
 ('Basilica', 'NNP', 'B-ORGANIZATION'),
 ('of', 'IN', 'O'),
 ('the', 'DT', 'O'),
 ('Sacred', 'NNP', 'B-ORGANIZATION'),
 ('Heart', 'NNP', 'I-ORGANIZATION'),
 ('.', '.', 'O'),
 ('Immediately', 'RB', 'O'),
 ('behind', 'IN', 'O'),
 ('the', 'DT', 'O'),
 ('basilica', 'NN', 'O'),
 ('is', 'VBZ', 'O'),
 ('the', 'DT', 'O'),
 ('Grotto', 'NNP', 'B-GPE'),
 (',', ',', 'O'),
 ('a', 'DT', 'O'),
 ('Marian', 'JJ', 'B-GPE'),
 ('place', 'NN', 'O'),
 ('of', 'IN', 'O'),
 ('prayer', 'NN', 'O'),
 ('and', 'CC', 'O'),
 ('reflection', 'NN', 'O'),
 ('.', '.', 'O'),
 ('It', 'PRP', 'O'),
 ('is', 'VBZ', 'O'),
 ('a', 'DT', 'O'),
 ('replica', 'NN', 'O'),
 ('of', 'IN', 'O'),
 ('the', 'DT', 'O'),
 ('grotto', 'NN', 'O'),
 ('at', 'IN', 'O'),
 ('Lourdes', 'NNP', 'B-ORGANIZATION'),
 (',', ',', 'O'),
 ('France', 'NNP', 'B-GPE'),
 ('where', 'WRB', 'O'),
 ('the', 'DT', 'O'),
 ('Virgin', 'NNP', 'B-ORGANIZATION'),
 ('Mary', 'NNP', 'O'),
 ('reputedly', 'RB', 'O'),
 ('appeared', 'VBD', 'O'),
 ('to', 'TO', 'O'),
 ('Saint', 'NNP', 'B-PERSON'),
 ('Bernadette', 'NNP', 'I-PERSON'),
 ('Soubirous', 'NNP', 'I-PERSON'),
 ('in', 'IN', 'O'),
 ('1858', 'CD', 'O'),
 ('.', '.', 'O'),
 ('At', 'IN', 'O'),
 ('the', 'DT', 'O'),
 ('end', 'NN', 'O'),
 ('of', 'IN', 'O'),
 ('the', 'DT', 'O'),
 ('main', 'JJ', 'O'),
 ('drive', 'NN', 'O'),
 ('(', '(', 'O'),
 ('and', 'CC', 'O'),
 ('in', 'IN', 'O'),
 ('a', 'DT', 'O'),
 ('direct', 'JJ', 'O'),
 ('line', 'NN', 'O'),
 ('that', 'WDT', 'O'),
 ('connects', 'VBZ', 'O'),
 ('through', 'IN', 'O'),
 ('3', 'CD', 'O'),
 ('statues', 'NNS', 'O'),
 ('and', 'CC', 'O'),
 ('the', 'DT', 'O'),
 ('Gold', 'NNP', 'B-ORGANIZATION'),
 ('Dome', 'NNP', 'I-ORGANIZATION'),
 (')', ')', 'O'),
 (',', ',', 'O'),
 ('is', 'VBZ', 'O'),
 ('a', 'DT', 'O'),
 ('simple', 'JJ', 'O'),
 (',', ',', 'O'),
 ('modern', 'JJ', 'O'),
 ('stone', 'NN', 'O'),
 ('statue', 'NN', 'O'),
 ('of', 'IN', 'O'),
 ('Mary', 'NNP', 'O'),
 ('.', '.', 'O')]

In [7]:
pattern = 'NP: {<DT>?<JJ>*<NN>}'
cp = nltk.RegexpParser(pattern)
print(cp.parse(s))

(S
  Architecturally/RB
  ,/,
  (NP the/DT school/NN)
  has/VBZ
  (NP a/DT Catholic/JJ character/NN)
  ./.
  Atop/VB
  the/DT
  Main/NNP
  Building/NNP
  's/POS
  (NP gold/NN)
  (NP dome/NN)
  is/VBZ
  (NP a/DT golden/JJ statue/NN)
  of/IN
  the/DT
  Virgin/NNP
  Mary/NNP
  ./.
  Immediately/RB
  in/IN
  (NP front/NN)
  of/IN
  the/DT
  Main/NNP
  Building/NNP
  and/CC
  facing/VBG
  it/PRP
  ,/,
  is/VBZ
  (NP a/DT copper/NN)
  (NP statue/NN)
  of/IN
  Christ/NNP
  with/IN
  arms/NNS
  upraised/VBN
  with/IN
  (NP the/DT legend/NN)
  ``/``
  Venite/NNP
  Ad/NNP
  Me/NNP
  Omnes/NNP
  ''/''
  ./.
  Next/JJ
  to/TO
  the/DT
  Main/NNP
  Building/NNP
  is/VBZ
  the/DT
  Basilica/NNP
  of/IN
  the/DT
  Sacred/NNP
  Heart/NNP
  ./.
  Immediately/RB
  behind/IN
  (NP the/DT basilica/NN)
  is/VBZ
  the/DT
  Grotto/NNP
  ,/,
  (NP a/DT Marian/JJ place/NN)
  of/IN
  (NP prayer/NN)
  and/CC
  (NP reflection/NN)
  ./.
  It/PRP
  is/VBZ
  (NP a/DT replica/NN)
  of/IN
  (NP the/DT grotto/NN)
  at/IN
  Lourdes/NNP
  ,/,
  France/NNP
  where/WRB
  the/DT
  Virgin/NNP
  Mary/NNP
  reputedly/RB
  appeared/VBD
  to/TO
  Saint/NNP
  Bernadette/NNP
  Soubirous/NNP
  in/IN
  1858/CD
  ./.
  At/IN
  (NP the/DT end/NN)
  of/IN
  (NP the/DT main/JJ drive/NN)
  (/(
  and/CC
  in/IN
  (NP a/DT direct/JJ line/NN)
  that/WDT
  connects/VBZ
  through/IN
  3/CD
  statues/NNS
  and/CC
  the/DT
  Gold/NNP
  Dome/NNP
  )/)
  ,/,
  is/VBZ
  a/DT
  simple/JJ
  ,/,
  (NP modern/JJ stone/NN)
  (NP statue/NN)
  of/IN
  Mary/NNP
  ./.)

In [45]:
import spacy
s=df.context.iloc[3]
w = re.sub(r'[^\w\s]','',s)

In [46]:
s

'The College of Engineering was established in 1920, however, early courses in civil and mechanical engineering were a part of the College of Science since the 1870s. Today the college, housed in the Fitzpatrick, Cushing, and Stinson-Remick Halls of Engineering, includes five departments of study – aerospace and mechanical engineering, chemical and biomolecular engineering, civil engineering and geological sciences, computer science and engineering, and electrical engineering – with eight B.S. degrees offered. Additionally, the college offers five-year dual degree programs with the Colleges of Arts and Letters and of Business awarding additional B.A. and Master of Business Administration (MBA) degrees, respectively.'

In [9]:
spacy_nlp = spacy.load('en_core_web_sm')
document = spacy_nlp(s)
document

The university is the major seat of the Congregation of Holy Cross (albeit not its official headquarters, which are in Rome). Its main seminary, Moreau Seminary, is located on the campus across St. Joseph lake from the Main Building. Old College, the oldest building on campus and located near the shore of St. Mary lake, houses undergraduate seminarians. Retired priests and brothers reside in Fatima House (a former retreat center), Holy Cross House, as well as Columba Hall near the Grotto. The university through the Moreau Seminary has ties to theologian Frederick Buechner. While not Catholic, Buechner has praised writers from Notre Dame and Moreau Seminary created a Buechner Prize for Preaching.

In [10]:
for element in document.ents:
    print('Value: %s' % (element))

Value: the Congregation of Holy Cross
Value: Rome
Value: Moreau Seminary
Value: St. Joseph
Value: the Main Building
Value: Old College
Value: St. Mary
Value: Fatima House
Value: Holy Cross House
Value: Columba Hall
Value: Grotto
Value: Frederick Buechner
Value: Catholic
Value: Buechner
Value: Notre Dame
Value: Moreau Seminary

In [13]:
ls=[]
ls2=[]
for i in data["data"]:
    for j in i["paragraphs"]:
        ls.append(j["context"])
        ls2.append(i["title"])

In [24]:
ls4=[]
ls3=[]
for i in data["data"]:
    for j in i["paragraphs"]:
        #print("*****************************")
        for k in j['qas']:
            for l in k['answers']:
                ls3.append(l["text"])
            #print(ls3)
        ls4.append(ls3)
        ls3=[]

In [29]:
df["context"]=ls

In [30]:
df["title"]=ls2

In [33]:
df['ans']=ls4

In [42]:
df.head()

,context,title,ans
0,"Architecturally, the school has a Catholic cha...",University_of_Notre_Dame,"[Saint Bernadette Soubirous, a copper statue o..."
1,"As at most other universities, Notre Dame's st...",University_of_Notre_Dame,"[September 1876, twice, The Observer, three, 1..."
2,The university is the major seat of the Congre...,University_of_Notre_Dame,"[Rome, Moreau Seminary, Old College, Retired p..."
3,The College of Engineering was established in ...,University_of_Notre_Dame,"[eight, 1920, the College of Science, five, th..."
4,All of Notre Dame's undergraduate students are...,University_of_Notre_Dame,"[Learning Resource Center, five, The First Yea..."

In [89]:
ls=[]
ls1=[]
for i in df['context']:
    document = spacy_nlp(i)
    for element in document.ents:
        ls.append(str(element))
    ls1.append(ls)
    ls=[]

In [92]:
df["entity"]=ls1

In [94]:
df.head()

,context,title,ans,entity
0,"Architecturally, the school has a Catholic cha...",University_of_Notre_Dame,"[Saint Bernadette Soubirous, a copper statue o...","[Catholic, the Main Building's, the Virgin Mar..."
1,"As at most other universities, Notre Dame's st...",University_of_Notre_Dame,"[September 1876, twice, The Observer, three, 1...","[Notre Dame's, nine, three, Begun, one, Septem..."
2,The university is the major seat of the Congre...,University_of_Notre_Dame,"[Rome, Moreau Seminary, Old College, Retired p...","[the Congregation of Holy Cross, Rome, Moreau ..."
3,The College of Engineering was established in ...,University_of_Notre_Dame,"[eight, 1920, the College of Science, five, th...","[The College of Engineering, 1920, the College..."
4,All of Notre Dame's undergraduate students are...,University_of_Notre_Dame,"[Learning Resource Center, five, The First Yea...","[Notre Dame's, one, five, the First Year of St..."

In [95]:
df.to_pickle(r"C:\Users\PIYUSH\Desktop\Automatic_Question_gen\data\entity.pickle")

In [2]:
df=pd.read_pickle(r"C:\Users\PIYUSH\Desktop\Automatic_Question_gen\data\entity.pickle")

In [3]:
df.head()

,context,title,ans,entity
0,"Architecturally, the school has a Catholic cha...",University_of_Notre_Dame,"[Saint Bernadette Soubirous, a copper statue o...","[Catholic, the Main Building's, the Virgin Mar..."
1,"As at most other universities, Notre Dame's st...",University_of_Notre_Dame,"[September 1876, twice, The Observer, three, 1...","[Notre Dame's, nine, three, Begun, one, Septem..."
2,The university is the major seat of the Congre...,University_of_Notre_Dame,"[Rome, Moreau Seminary, Old College, Retired p...","[the Congregation of Holy Cross, Rome, Moreau ..."
3,The College of Engineering was established in ...,University_of_Notre_Dame,"[eight, 1920, the College of Science, five, th...","[The College of Engineering, 1920, the College..."
4,All of Notre Dame's undergraduate students are...,University_of_Notre_Dame,"[Learning Resource Center, five, The First Yea...","[Notre Dame's, one, five, the First Year of St..."

In [37]:
import string
exclude = set(string.punctuation)
exclude.add("''")
exclude.add("``")

In [38]:
exclude

{'!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 "''",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '``',
 '{',
 '|',
 '}',
 '~'}

In [45]:
main=[]
for i in (df.context):
    sent=sent_tokenize(i)
    for j in sent:
        all_words=word_tokenize(j)
        all_words=[i for i in all_words if i not in stop]
        all_words=[i for i in all_words if i not in exclude]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        main.append(all_words)

['kmc',
 "'s",
 'constant',
 'endeavor',
 'enhance',
 'interaction',
 'saarc',
 'country',
 'international',
 'agency',
 'many',
 'major',
 'city',
 'world',
 'achieve',
 'better',
 'urban',
 'management',
 'developmental',
 'program',
 'kathmandu']

In [48]:
df.context.iloc[-1]

"Kathmandu Metropolitan City (KMC), in order to promote international relations has established an International Relations Secretariat (IRC). KMC's first international relationship was established in 1975 with the city of Eugene, Oregon, United States. This activity has been further enhanced by establishing formal relationships with 8 other cities: Motsumoto City of Japan, Rochester of the USA, Yangon (formerly Rangoon) of Myanmar, Xi'an of the People's Republic of China, Minsk of Belarus, and Pyongyang of the Democratic Republic of Korea. KMC's constant endeavor is to enhance its interaction with SAARC countries, other International agencies and many other major cities of the world to achieve better urban management and developmental programs for Kathmandu."